<footer>
      <a href="#">
        <img src="#" alt="BINABOX logo">
      </a>
      <p>We are the best way to check the rarity of NFT collection</p>
      <h2>Navigation</h2>
      <nav>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Catalog</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Whitepaper</a>
          </li>
          <li>
            <a href="#">Help Center</a>
          </li>
        </ul>
      </nav>
        <p>BINABOX 2025 - ALL rights reserved</p>
          <ul>
            <li>
              <a href="#">Twitter
                <img src="#" alt="TW" />
              </a>
            </li>
            <li>
              <a href="#">Facebook 
                <img src="#" alt="fb" /> 
              </a>
            </li>
            <li>
              <a href="#">Telegram 
                <img src="#" alt="T" />
              </a>
            </li>
            <li>
              <a href="#">YouTube
                <img src="#" alt="in" /> 
              </a>
            </li>
            <li>
              <a href="#">Tik-tok
                <img src="#" alt="in" /> 
              </a>
            </li>
            <li>
              <a href="#">Discord
                <img src="#" alt="in" /> 
              </a>
            </li>
          </ul>
    </footer>