 <header>
      <a href="#"><img src="#" alt="BINABOX logo"></a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__button">
              Home
            </a>
          </li>
          <li class="header__item">
            <a href="#" class="header__button">
              Blog
            </a>
          </li>
          <li>
            <a href="#">
              Catalog
            </a>
          </li>
          <li>
            <a href="#">
              Contact Us
            </a>
          </li>
        </ul>
      </nav>
      <a href="#"> 
        <img src="#" alt="diskord logo">
        <span>DISKORD</span>
      </a>
      <button type="button">
      <img src="#" alt="Log In" />
      </button>
    </header>